In [9]:
import pandas as pd
import Levenshtein # levenshtein distance
from sklearn.feature_extraction.text import TfidfVectorizer # cosine similarity
from sklearn.metrics.pairwise import cosine_similarity # cosine similarity
import jellyfish # soundex

In [10]:
# import names data - premier league players
data = pd.read_csv('names_data.csv')
data.head()

,forename_a,surname_a,id_a,forename_b,surname_b,id_b
0,Aaron,Anthony Connolly,456123,Aaron,Anthony Connolly,456123
1,Aaron,Cresswell,456124,Aran,Cresswell,456124
2,Aaron,Ramsdale,456125,Aaron,Ramsdale,456125
3,Aaron,Wan-Bissaka,456126,Aaron,Wan-Bissaka,456126
4,Abd-Al-Ali,Morakinyo Olaposi Koiki,456127,Abd-Al-Ali,Morakinyo Olaposi Koiki,456127

In [11]:
# combine name and psuedo ID number into strings
data['combined_a'] = data['forename_a'] + ' ' + data['surname_a'] + ' ' + data['id_a'].astype(str)
data['combined_b'] = data['forename_b'] + ' ' + data['surname_b'] + ' ' + data['id_b'].astype(str)
data.head()

,forename_a,surname_a,id_a,forename_b,surname_b,id_b,combined_a,combined_b
0,Aaron,Anthony Connolly,456123,Aaron,Anthony Connolly,456123,Aaron Anthony Connolly 456123,Aaron Anthony Connolly 456123
1,Aaron,Cresswell,456124,Aran,Cresswell,456124,Aaron Cresswell 456124,Aran Cresswell 456124
2,Aaron,Ramsdale,456125,Aaron,Ramsdale,456125,Aaron Ramsdale 456125,Aaron Ramsdale 456125
3,Aaron,Wan-Bissaka,456126,Aaron,Wan-Bissaka,456126,Aaron Wan-Bissaka 456126,Aaron Wan-Bissaka 456126
4,Abd-Al-Ali,Morakinyo Olaposi Koiki,456127,Abd-Al-Ali,Morakinyo Olaposi Koiki,456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127

## Method 1: Jaccard

In [12]:
def jaccard_similarity(str1, str2):
    set1 = set(str1.split())
    set2 = set(str2.split())
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    return intersection / union

# calc jaccard similarity of combined strings
data['jaccard_similarity'] = data.apply(lambda row: jaccard_similarity(row['combined_a'], row['combined_b']), axis=1)
data[['combined_a', 'combined_b', 'jaccard_similarity']].head()

,combined_a,combined_b,jaccard_similarity
0,Aaron Anthony Connolly 456123,Aaron Anthony Connolly 456123,1.0
1,Aaron Cresswell 456124,Aran Cresswell 456124,0.5
2,Aaron Ramsdale 456125,Aaron Ramsdale 456125,1.0
3,Aaron Wan-Bissaka 456126,Aaron Wan-Bissaka 456126,1.0
4,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,1.0

## Method 2: Cosine Similarity

In [15]:
# create tf-idf vectors for combined name strings
# term frequency-inverse document frequency
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(data['combined_a'].tolist() + data['combined_b'].tolist())

# calc the cosine similarity
cosine_similarities = cosine_similarity(tfidf_matrix[:len(data)], tfidf_matrix[len(data):])
data['cosine_similarity'] = [cosine_similarities[i][i] for i in range(len(cosine_similarities))]

data[['combined_a', 'combined_b', 'cosine_similarity']].head()

,combined_a,combined_b,cosine_similarity
0,Aaron Anthony Connolly 456123,Aaron Anthony Connolly 456123,1.000000
1,Aaron Cresswell 456124,Aran Cresswell 456124,0.684849
2,Aaron Ramsdale 456125,Aaron Ramsdale 456125,1.000000
3,Aaron Wan-Bissaka 456126,Aaron Wan-Bissaka 456126,1.000000
4,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,1.000000

## Method 3: Leveshtein Distance

In [14]:
# calc levenshtein distance between the combined strings
data['levenshtein_distance'] = data.apply(lambda row: Levenshtein.distance(row['combined_a'], row['combined_b']), axis=1)

data[['combined_a', 'combined_b', 'levenshtein_distance']].head()

,combined_a,combined_b,levenshtein_distance
0,Aaron Anthony Connolly 456123,Aaron Anthony Connolly 456123,0
1,Aaron Cresswell 456124,Aran Cresswell 456124,2
2,Aaron Ramsdale 456125,Aaron Ramsdale 456125,0
3,Aaron Wan-Bissaka 456126,Aaron Wan-Bissaka 456126,0
4,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,0

## Method 4: Soundex

In [16]:
# calc soundex code for combined strings
data['soundex_a'] = data['combined_a'].apply(jellyfish.soundex)
data['soundex_b'] = data['combined_b'].apply(jellyfish.soundex)

# Determine if the Soundex codes are the same
data['soundex_match'] = data['soundex_a'] == data['soundex_b']

data[['combined_a', 'combined_b', 'soundex_a', 'soundex_b', 'soundex_match']].head()

,combined_a,combined_b,soundex_a,soundex_b,soundex_match
0,Aaron Anthony Connolly 456123,Aaron Anthony Connolly 456123,A655,A655,True
1,Aaron Cresswell 456124,Aran Cresswell 456124,A652,A652,True
2,Aaron Ramsdale 456125,Aaron Ramsdale 456125,A656,A656,True
3,Aaron Wan-Bissaka 456126,Aaron Wan-Bissaka 456126,A655,A655,True
4,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,A134,A134,True

### View different similarity measures

In [18]:
data.head(50)

,forename_a,surname_a,id_a,forename_b,surname_b,id_b,combined_a,combined_b,jaccard_similarity,cosine_similarity,levenshtein_distance,soundex_a,soundex_b,soundex_match
0,Aaron,Anthony Connolly,456123,Aaron,Anthony Connolly,456123,Aaron Anthony Connolly 456123,Aaron Anthony Connolly 456123,1.0,1.000000,0,A655,A655,True
1,Aaron,Cresswell,456124,Aran,Cresswell,456124,Aaron Cresswell 456124,Aran Cresswell 456124,0.5,0.684849,2,A652,A652,True
2,Aaron,Ramsdale,456125,Aaron,Ramsdale,456125,Aaron Ramsdale 456125,Aaron Ramsdale 456125,1.0,1.000000,0,A656,A656,True
3,Aaron,Wan-Bissaka,456126,Aaron,Wan-Bissaka,456126,Aaron Wan-Bissaka 456126,Aaron Wan-Bissaka 456126,1.0,1.000000,0,A655,A655,True
4,Abd-Al-Ali,Morakinyo Olaposi Koiki,456127,Abd-Al-Ali,Morakinyo Olaposi Koiki,456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,Abd-Al-Ali Morakinyo Olaposi Koiki 456127,1.0,1.000000,0,A134,A134,True
5,Adam,Idah,456128,Adam,Idah,456128,Adam Idah 456128,Adam Idah 456128,1.0,1.000000,0,A353,A353,True
6,Adam,Lallana,456129,Adam,Lallana,456129,Adam Lallana 456129,Adam Lallana 456129,1.0,1.000000,0,A354,A354,True
7,Adam,Masina,456130,Adam,Masina,456130,Adam Masina 456130,Adam Masina 456130,1.0,1.000000,0,A355,A355,True
8,Adam,Smith,456131,Adam,Smith,456131,Adam Smith 456131,Adam Smith 456131,1.0,1.000000,0,A352,A352,True
9,Adam,Webster,456132,Adam,Webster,456132,Adam Webster 456132,Adam Webster 456132,1.0,1.000000,0,A351,A351,True
10,Adrian,Mariappa,456133,Adrian,Mariappa,456133,Adrian Mariappa 456133,Adrian Mariappa 456133,1.0,1.000000,0,A365,A365,True
11,Ahmed,Eissa El Mohamady Abdel Fattah,456134,Ahmed,Eissa El Mohamady Abdel Fattah,456134,Ahmed Eissa El Mohamady Abdel Fattah 456134,Ahmed Eissa El Mohamady Abdel Fattah 456134,1.0,1.000000,0,A532,A532,True
12,Ainsley,Maitland-Niles,456135,Ainsley,Maitland-Niles,456135,Ainsley Maitland-Niles 456135,Ainsley Maitland-Niles 456135,1.0,1.000000,0,A524,A524,True
13,Akin,Famewo,456136,Akin,Famewo,456138,Akin Famewo 456136,Akin Famewo 456138,0.5,0.662597,1,A251,A251,True
14,Albian,Ajeti,456137,Albian,Ajeti,456137,Albian Ajeti 456137,Albian Ajeti 456137,1.0,1.000000,0,A415,A415,True
15,Alex,Cochrane,456138,Alex,Cochrane,456138,Alex Cochrane 456138,Alex Cochrane 456138,1.0,1.000000,0,A422,A422,True
16,Alex,Iwobi,456139,Alex,Iwobi,456139,Alex Iwobi 456139,Alex Iwobi 456139,1.0,1.000000,0,A421,A421,True
17,Alex,McCarthy,456140,Alex,McCarthy,456140,Alex McCarthy 456140,Alex McCarthy 456140,1.0,1.000000,0,A425,A425,True
18,Alex,Oxlade-Chamberlain,456141,Alexander,Oxlade-Chamberlain,456141,Alex Oxlade-Chamberlain 456141,Alexander Oxlade-Chamberlain 456141,0.5,0.796351,5,A422,A425,False
19,Alexander,Tettey,456142,Alexander,Tettey,456142,Alexander Tettey 456142,Alexander Tettey 456142,1.0,1.000000,0,A425,A425,True
20,Alexandre,Jankewitz,456143,Alexandre,Jankewitz,456143,Alexandre Jankewitz 456143,Alexandre Jankewitz 456143,1.0,1.000000,0,A425,A425,True
21,Alexandre,Lacazette,456144,Alexandre,Lacazette,456144,Alexandre Lacazette 456144,Alexandre Lacazette 456144,1.0,1.000000,0,A425,A425,True
22,Alexandre,Nascimento Costa Silva,456145,Alexandre,Nascimento Costa Silva,456145,Alexandre Nascimento Costa Silva 456145,Alexandre Nascimento Costa Silva 456145,1.0,1.000000,0,A425,A425,True
23,Alexis,Mac Allister,456146,Alexis,Mac Allister,456146,Alexis Mac Allister 456146,Alexis Mac Allister 456146,1.0,1.000000,0,A422,A422,True
24,Alfie,Lewis,456147,Alfie,Lewis,456147,Alfie Lewis 456147,Alfie Lewis 456147,1.0,1.000000,0,A414,A414,True
25,Alfie,Whiteman,456148,Alfie,Whiteman,456148,Alfie Whiteman 456148,Alfie Whiteman 456148,1.0,1.000000,0,A413,A413,True
26,Alireza,Jahanbakhsh,456149,Alireza,Jahanbakhsh,456149,Alireza Jahanbakhsh 456149,Alireza Jahanbakhsh 456149,1.0,1.000000,0,A462,A462,True
27,Alisson,Ramses Becker,456150,Alisson,Ramses Becker,456150,Alisson Ramses Becker 456150,Alisson Ramses Becker 456150,1.0,1.000000,0,A425,A425,True
28,Allan,Saint-Maximin,456151,Allan,Saint-Maximin,456151,Allan Saint-Maximin 456151,Allan Saint-Maximin 456151,1.0,1.000000,0,A452,A452,True
29,Andre,Gray,456152,Andre,Gray,456152,Andre Gray 456152,Andre Gray 456152,1.0,1.000000,0,A536,A536,True
30,Andreas,Christensen,456153,Andreas,Christensen,456153,Andreas Christensen 456153,Andreas Christensen 456153,1.0,1.000000,0,A536,A536,True
31,Andreas,Hugo Hoelgebaum Pereira,456154,Andreas,Hugo Hoelgebaum Pereira,456154,Andreas Hugo Hoelgebaum Pereira 456154,Andreas Hugo Hoelgebaum Pereira 456154,1.0,1.000000,0,A536,A536,True
32,Andrew,Robertson,456155,Andrew,Robertson,456155,Andrew Robertson 456155,Andrew Robertson 456155,1.0,1.000000,0,A536,A536,True
33,Andrew,Surman,456156,Andrew,Surman,456156,Andrew Surman 456156,Andrew Surman 456156,1.0,1.000000,0,A536,A536,True
34,Andrii,Yarmolenko,456157,Andrii,Yarmolenko,456157,Andrii Yarmolenko 456157,Andrii Yarmolenko 456157,1.0,1.000000,0,A536,A536,True
35,Andros,Townsend,456158,Andros,Townsend,456158,Andros Townsend 456158,Andros Townsend 456158,1.0,1.000000,0,A536,A536,True
36,Andy,Carroll,456159,Andy,Carroll,456159,Andy Carroll 456159,Andy Carroll 456159,1.0,1.000000,0,A532,A532,True
37,Andy,Lonergan,456160,Andy,Lonergan,456160,Andy Lonergan 456160,Andy Lonergan 456160,1.0,1.000000,0,A534,A534,True
38,Angelo,Ogbonna,456161,Angelo,Ogbonna,456161,Angelo Ogbonna 456161,Angelo Ogbonna 456161,1.0,1.000000,0,A524,A524,True
39,Angus,Gunn,456162,Angus,Gunn,456165,Angus Gunn 456162,Angus Gunn 456165,0.5,0.662597,1,A522,A522,True
40,Anthony,Driscoll-Glennon,456163,Anthony,Driscoll-Glennon,456163,Anthony Driscoll-Glennon 456163,Anthony Driscoll-Glennon 456163,1.0,1.000000,0,A535,A535,True
41,Anthony,Gordon,456164,Anthony,Gordon,456164,Anthony Gordon 456164,Anthony Gordon 456164,1.0,1.000000,0,A535,A535,True
42,Anthony,Martial,456165,Anthony,Martial,456165,Anthony Martial 456165,Anthony Martial 456165,1.0,1.000000,0,A535,A535,True
43,Anwar,El Ghazi,456166,Anwar,El Ghazi,456166,Anwar El Ghazi 456166,Anwar El Ghazi 456166,1.0,1.000000,0,A564,A564,True
44,Archie,Mair,456167,Archie,Mair,456167,Archie Mair 456167,Archie Mair 456167,1.0,1.000000,0,A625,A625,True
45,Armando,Broja,456168,Armando,Broja,456168,Armando Broja 456168,Armando Broja 456168,1.0,1.000000,0,A655,A655,True
46,Arnaut,Danjuma Groeneveld,456169,Arnaut,Danjuma Groeneveld,456169,Arnaut Danjuma Groeneveld 456169,Arnaut Danjuma Groeneveld 456169,1.0,1.000000,0,A653,A653,True
47,Arthur,Masuaku,456170,Arthur,Masuaku,456170,Arthur Masuaku 456170,Arthur Masuaku 456170,1.0,1.000000,0,A636,A636,True
48,Artur,Boruc,456171,Artur,Boruc,456171,Artur Boruc 456171,Artur Boruc 456171,1.0,1.000000,0,A636,A636,True
49,Ashley,Barnes,456172,Ashley,Barnes,456172,Ashley Barnes 456172,Ashley Barnes 456172,1.0,1.000000,0,A241,A241,True